body {
    padding: 0;
    margin: 0;
    background-color: rgba(11, 59, 11, 0.512);
    box-sizing: border-box;
    background-image: url();

}


.container {
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    height: 660px;
    width: 450px;
    margin-left: 30%;
    background-image: url(./images/download.jpg);
    background-size: cover;
    padding: 30px;
    border-radius: 6px;
    color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);


}
.main{
    margin-top: 30px;
    color:white;
    font-size: large;
}
h1{
    color: rgb(222, 250, 216);
    font-weight: bolder;
    font-size: xx-large;
    font-family: inherit;
}
h2{
       color: rgb(222, 250, 216);
     font-size: x-large;
     font-weight: bold;
}
label{
    display: block;
    margin-top: 20px;
}
input{
    width: 100%;
    padding: 8px;
}
button{
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
    background-color:  rgba(2, 111, 2, 0.338);;
   
}

#result {
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
  color:  rgb(222, 250, 216);;
}
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
