body{
    padding:0;
    margin: 0;
    background-color: beige;
    box-sizing:border-box;
}
.container{
text-align: center;
justify-content: center;
margin-top: 10%;
height: 440px;
width: 450px;
margin-left: 30%;
background-color: aqua;
padding: 30px;
border-radius: 6px;

}