body {
    padding: 0;
    margin: 0;
    background-color: rgba(11, 59, 11, 0.512);
    box-sizing: border-box;
    background-image: url();

}


.container {
    text-align: center;
    justify-content: center;
    margin-top: 6%;
    height: 550px;
    width: 450px;
    margin-left: 30%;
    background-image: url(./download.jpg);
    background-size: cover;
    padding: 30px;
    border-radius: 6px;
    color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);


}
.main{
    margin-top: 30px;
    color:white;
    font-size: large;
}
h1{
    color: rgb(222, 250, 216);
    font-weight: bolder;
    font-size: xx-large;
    font-family: inherit;
}
h2{
       color: rgb(222, 250, 216);
     font-size: x-large;
     font-weight: bold;
}
label{
    display: block;
    margin-top: 20px;
}
input{
    width: 100%;
    padding: 8px;
}
button{
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
