body{
    padding:0;
    margin: 0;
    background-color: beige;
    box-sizing:border-box;
    background-image: url(https://plus.unsplash.com/premium_photo-1680404114169-e254afa55a16?q=80&w=1064&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.container{
text-align: center;
justify-content: center;
margin-top: 10%;
height: 440px;
width: 450px;
margin-left: 30%;
background-color: aqua;
padding: 30px;
border-radius: 6px;

}