body {
    padding: 0;
    margin: 0;
    background-color: rgba(11, 59, 11, 0.512);
    box-sizing: border-box;
    background-image: url();

}


.container {
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    height: 440px;
    width: 450px;
    margin-left: 30%;
    background-image: url(./download.jpg);
    background-size: cover;
    padding: 30px;
    border-radius: 6px;
    color: whitesmoke;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);


}
.main{
    margin-top: 30px;
    color:whitesmoke;
}
h1{
    color: rgb(56, 239, 15);
    font-weight: bolder;
    font-size: xx-large;
    font-family: inherit;
}
h2{
     color: rgb(56, 239, 15);
     font-size: x-large;
     font-weight: bold;
}
label{
    display: block;
    margin-top: 20px;
}